<div id="tabs">
  <dx-tabs #apiTabs [dataSource]="tabs" (onItemClick)="selectTab($event)"></dx-tabs>
  <div class="long-title">
    <h3>{{currentTab.text}}</h3>
  </div>
  <div *ngIf="currentTab.type==='schedule'">
    <dx-scheduler id="scheduler" [dataSource]="currentTab.schedule" [views]="['day', 'week', 'timelineDay']"
      currentView="timelineDay" [firstDayOfWeek]="0" [startDayHour]="startDayHour" [endDayHour]="endDayHour"
      [showAllDayPanel]="false" [groups]="['divisionID']" [currentDate]="currentDate" [crossScrollingEnabled]="true"
      [cellDuration]="30" [width]="1200" [height]="600" appointmentTemplate="Schedule-Data">
      <!-- appointmentTooltipTemplate="Schedule-Datas"> -->

      <dxo-editing [allowAdding]="false"></dxo-editing>

      <dxi-resource fieldExpr="activityID" [useColorAsDefault]="true" [dataSource]="currentTab.activities">
      </dxi-resource>

      <dxi-resource fieldExpr="divisionID" [dataSource]="currentTab.scheduleDivisions">
      </dxi-resource>

      <div *ngIf="timerSetTF">
        <div *dxTemplate="let model of 'Schedule-Data';let i=index">
          <div class='showtime-preview'>
            <div><strong>{{getActivityByID(model.appointmentData.activityID).activity}}</strong></div>
            <div *ngIf="model">
              <strong>{{"Duration: "+getActivityByID(model.appointmentData.activityID).duration+" min"}}</strong>
            </div>
            <div class='dropdown-appointment-dates'>
              {{(model.appointmentData.startDate | date:'shortTime') + ' - ' + (model.appointmentData.endDate | date:'shortTime')}}
            </div>
          </div>
        </div>
      </div>
      <!-- <div *dxTemplate="let model of 'Schedule-Datas'">
      <div class='movie-tooltip'>
        <div><strong>{{getActivityByID(model.appointmentData.activityID).activity}}</strong></div>
        <div class='dropdown-appointment-dates'>
          {{(model.appointmentData.startDate | date:'shortTime') + ' - ' + (model.appointmentData.endDate | date:'shortTime')}}
        </div>
        <div class='movie-info'>
                <div class='movie-title'>
                    {{getMovieById(model.appointmentData.movieId).text + ' (' + getMovieById(model.appointmentData.movieId).year + ')'}}
                </div>
                <div>
                    {{'Director: ' + getMovieById(model.appointmentData.movieId).director}}
                </div>
                <div>
                    {{'Duration: ' + getMovieById(model.appointmentData.movieId).duration + ' minutes'}}
                </div>
            </div>
      </div>
    </div> -->
    </dx-scheduler>
  </div>
  <div *ngIf="currentTab.type==='tutoring'">
    <dx-scheduler id="scheduler" [dataSource]="currentTab.schedule" [views]="['day', 'week', 'timelineDay']"
      currentView="day" [firstDayOfWeek]="0" [startDayHour]="startDayHour" [endDayHour]="endDayHour"
      [showAllDayPanel]="false" [groups]="['divisionID']" [currentDate]="currentDate" [crossScrollingEnabled]="true"
      [cellDuration]="30" [width]="1200" [height]="600" appointmentTemplate="Tutoring-Data"
      appointmentTooltipTemplate="Schedule-Datas">

      <dxo-editing [allowAdding]="false"></dxo-editing>

      <!-- <dxi-resource fieldExpr="activityID" [useColorAsDefault]="true" [dataSource]="currentTab.activities">
      </dxi-resource> -->

      <dxi-resource fieldExpr="divisionID" [dataSource]="currentTab.scheduleDivisions">
      </dxi-resource>

      <div *ngIf="timerSetTF">
        <div *dxTemplate="let model of 'Tutoring-Data';let i=index">
          {{currentTab.schedule[i].teacher.name}}
          <div *ngIf="currentTab.schedule[i].students">
            <div *ngFor="let student of currentTab.schedule[i].students">{{student.name}}</div>
            <div>
            </div>
            Number of Students: {{currentTab.schedule[i].students.length}}
          </div>

          <!-- <div class='showtime-preview'>
            <div><strong>{{getActivityByID(model.appointmentData.activityID).activity}}</strong></div>
            <div *ngIf="model">
              <strong>{{"Duration: "+getActivityByID(model.appointmentData.activityID).duration+" min"}}</strong>
            </div>
            <div class='dropdown-appointment-dates'>
              {{(model.appointmentData.startDate | date:'shortTime') + ' - ' + (model.appointmentData.endDate | date:'shortTime')}}
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div *dxTemplate="let model of 'Schedule-Datas'; let i=index">
        <div class='movie-tooltip'>
          <div *ngFor="let student of currentTab.schedule[i].students"><strong>{{}}</strong></div>
          <div class='dropdown-appointment-dates'>
            {{(model.appointmentData.startDate | date:'shortTime') + ' - ' + (model.appointmentData.endDate | date:'shortTime')}}
          </div>
          <div class='movie-info'>
            <div class='movie-title'>
              {{getMovieById(model.appointmentData.movieId).text + ' (' + getMovieById(model.appointmentData.movieId).year + ')'}}
            </div>
            <div>
              {{'Director: ' + getMovieById(model.appointmentData.movieId).director}}
            </div>
            <div>
              {{'Duration: ' + getMovieById(model.appointmentData.movieId).duration + ' minutes'}}
            </div>
          </div>
        </div>
      </div> -->
    </dx-scheduler>
  </div>
</div>